@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";

}


<div id="information-information" class="container">
    <div class="col-sm-12"><h3> @ViewData["Title"] </h3></div>
    <div class="row">
        <div id="content" class="col-sm-12">
            <p>FreePractiseTests.com aims to bring in the best assessments and training solutions for learners preparing for various important exams globally. Our tests are designed to allow the learner to practice while preparing for the exam. Tests can be taken as many times as required so that the learner can build confidence along with ability. They can also take the test as “timed” tests simulating the pressure a learner would feel when taking the actual exam.</p><p>We offer testprep examination and elearning courses for 200 certification exams and entrance tests, with a 90% first time pass rate for people who have used FreePractiseTests.com for preparation.</p><p>
                FreePractiseTests.com provides simulated exam preparation series for important professional certification exams globally including:-
            </p><p>
                <strong>AWS, Google, CompTIA, Microsoft, Linux, SAS</strong> and college entrance exams like <strong>GMAT, GRE, IELTS</strong> etc.
            </p><p>More than 10,000 assessments are mapped to these courses and our content library and integrated with high end analytics to track your progress with respect to examination pass marks and general pass rates. Each question comes with detailed answer.</p>
        </div>
    </div>
</div>
