@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Copyright";

}


<div id="information-information" class="container">
    <div class="col-sm-12"><h3> @ViewData["Title"] </h3></div>
    <div class="row">
        <div id="content" class="col-sm-12">
            <p>FreePractiseTests.com does not offer exam dumps or questions from actual exams. We offer learning material and practice tests created by subject matter experts to assist and help learners prepare for those exams. All certification brands used on the website are owned by the respective brand owners. FreePractiseTests does not own or claim any ownership on any of the brands.<br></p><p>
                All materials published on this website are protected by copyright laws and may not be
                reproduced, republished, distributed, transmitted, resold, displayed,
                broadcast, or otherwise exploited in any manner without the express written
                permission of FreePractiseTests. You may use freely accessible material as well
                as material you have paid for from this website for your personal and
                noncommercial use only. You may not alter or remove any trademark, copyright,
                or other notice from such material. Additionally, you must pay a fee to access
                our preparation courses.
            </p><p class="MsoNormal" style="text-align:justify"><b><span lang="EN-GB">Online Preparation Courses<o:p></o:p></span></b></p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    Purchasers of
                    online preparation courses are not permitted to share, distribute, sell, or
                    otherwise transfer their password to other individuals. The password is for the
                    purchaser's sole use only. Significant or unusual use of a single password
                    (including, but not limited to, significant use of a single password on
                    multiple computers) may result in suspension of that password. The content of
                    online preparation courses is protected by copyright laws and may not be
                    reproduced, republished, distributed, transmitted, resold, displayed,
                    broadcast, or otherwise exploited in any manner without the express written
                    permission of FreePractiseTests.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify"><b><span lang="EN-GB">User Generated Content<o:p></o:p></span></b></p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    FreePractiseTests,
                    through its feedback procedures, provides users the opportunity to post content
                    to the website. FreePractiseTests does not necessarily endorse, support,
                    sanction, encourage, or agree with content posted by users. You may not post or
                    transmit content that is threatening, abusive, libelous, defamatory, obscene,
                    vulgar, pornographic, and profane, as well as indecent information of any kind.
                    This includes, without limitation, any transmissions that consitute or
                    encourage a criminal offense; give rise to civil liability; violate local,
                    state, national, or international law; or infringe upon another's copyright or
                    trademark.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    You understand
                    that all information, data, text, software, music, sound, photographs, videos,
                    and messages posted or transmitted in a FreePractiseTests forum, whether
                    publicly posted or privately transmitted, is the sole responsibility of the
                    person from whom such content originated. This means that you, and not
                    FreePractiseTests, are entirely and solely responsible for all content that you
                    upload, post, or otherwise transmit via the website. FreePractiseTests does not
                    and cannot review the content posted by users and is not responsible for such
                    content. However, FreePractiseTests shall have the right, but not the
                    obligation, to delete, move, or edit any content that violates this agreement
                    or is otherwise objectionable. FreePractiseTests maintains sole discretion in
                    this regard and may take action without notice.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    If you upload,
                    post, or otherwise transmit content to the website, you acknowledge that any
                    such submissions may be edited, removed, modified, published, transmitted, and
                    displayed by FreePractiseTests in any medium now existing or hereinafter
                    invented, as well as for any purpose, including commercial uses. You waive any
                    moral rights you may have in allowing the material to be edited, removed,
                    modified, published, transmitted, or displayed in a manner disagreeable to you.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    You agree to
                    indemnify FreePractiseTests and its subsidiaries and affiliates—in addition to
                    each of their respective partners, officers, directors, employees, and
                    agents—as well as to hold each of them harmless from any and all claims and
                    liabilities (including attorney's fees) that may arise from your submissions,
                    unauthorized use of material obtained from the website, breach of these Terms
                    and Conditions, and any such acts arising from your use of the website.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify"><b><span lang="EN-GB">Featured Services<o:p></o:p></span></b></p><p>

















            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    FreePractiseTests
                    is committed to providing visitors to its site with as many features as
                    possible. The companies that FreePractiseTests selects as featured service
                    providers offer products and services that site visitors may find useful.
                    FreePractiseTests, in certain cases, may have a business relationship with
                    certain third parties that it selects as a featured service provider.
                    FreePractiseTests is not responsible for the accuracy or reliability of any
                    advice or information given, nor of any statement made by the companies
                    providing featured services. Moreover, FreePractiseTests is not responsible for
                    the content, services, products, or advertising on or available from their
                    websites, nor for the availability and operations of their websites.<o:p></o:p>
                </span>
            </p>
        </div>
    </div>
</div>
