@model UserViewModel
@{
    ViewData["Title"] = "Reset Password ";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div id="information-information" class="container">
    <div class="col-sm-12"><h3> @ViewData["Title"] </h3></div>
    <div class="row">
        <div id="content" class="col-sm-12">

<form id="frmforget" method="post" class="col-md-6 offset-md-3 card card-body">
    <div asp-validation-summary="ModelOnly" class="container"> </div>
    <label asp-for="EmailAddress"> Email:</label><input asp-for="EmailAddress" type="email" /><span class="text-danger" asp-validation-for="EmailAddress"> </span><br />

    <p> The password reset link email will be send to your email address. Please click the link in the email to reset the password.</p>
    <label class="alert-danger"> </label><br />

    <button type="Submit" class="btn btn-success"> Reset Password </button>
    <div class="alert-success">@ViewBag.UserMessage</div>
</form>
        </div>
    </div>
</div>