@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="content" class="col-sm-12">
    <section class="new_service_area">
        <h3 class="text-center">Free Practise Tests</h3>
        <p class="sub-title text-center">Free Practise Tests is the collection of practice tests & online courses for professional certifications and exams. <br />Use our study material to clear exams in first attempt ! </p>
        <div id="home-categories" class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a asp-area="" asp-controller="Certification" asp-action="DevOps">
                    <img src="~/img/devopsfoundation.png" alt="DevOps">        <h4 >DevOps</h4>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a asp-area="" asp-controller="Certification" asp-action="DevOps">
                    <img src="~/img/AWSCP.jpg" alt="DevOps">        <h4>AWS </h4>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a asp-area="" asp-controller="Certification" asp-action="DevOps">
                    <img src="~/img/pcep.png" alt="DevOps">      <h4>Python</h4>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a asp-area="" asp-controller="Certification" asp-action="DevOps">
                    <img src="~/img/azuredev.png" alt="DevOps">      <h4>Azure</h4>
                </a>
            </div>

        </div>
        <div class="col-sm-12"></div>
    </section>
    <section class="new_service_area">
        <div class="row"><div class="col-sm-12"><h3>POPULAR <span>TESTS</span></h3></div></div>
        <div class="row">
            <div class="category-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="category-thumb transition shadow_box bordered">
                    <a class="category-thumb-inner" asp-area="" asp-controller="Certification" asp-action="DevOps">

                        <h4>DevOps Foundation </h4>
                    </a>
                </div>
            </div>
            <div class="category-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="category-thumb transition shadow_box bordered">
                    <a class="category-thumb-inner" asp-area="" asp-controller="Certification" asp-action="AWS">
                        <h4>AWS Cloud Practitioner </h4>
                    </a>
                </div>
            </div>
            <div class="category-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="category-thumb transition shadow_box bordered">
                    <a class="category-thumb-inner" asp-area="" asp-controller="Certification" asp-action="Python">
                        <h4>Python Certification (PCEP) </h4>
                    </a>
                </div>
            </div>

            <div class="category-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="category-thumb transition shadow_box bordered">
                    <a class="category-thumb-inner" asp-area="" asp-controller="Certification" asp-action="AWS">
                        <h4>AWS Solutions Architect Professional </h4>
                    </a>
                </div>
            </div>

        </div>
    </section>
</div>
