@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Terms & Conditions";

}


<div id="information-information" class="container">
    <div class="col-sm-12"><h3> @ViewData["Title"] </h3></div>
    <div class="row">
        <div id="content" class="col-sm-12">
            <p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    Welcome to
                    www.FreePractiseTests.com, the official website of FreePractiseTests. As used in
                    these terms and conditions, the term 'website' refers to the website located at
                    www.FreePractiseTests.com as well as online services that include, but are not
                    limited to, our email newsletters, archives, premium online content, and online
                    discussion forums. FreePractiseTests does not control and is not responsible for
                    any third-party site to which the website links.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    You agree that
                    your use of the website is subject to the following terms and conditions. These
                    terms and conditions may be modified at any time; the date of the most recent
                    changes or revisions will appear on this page. Your continued access to the
                    website will constitute your acceptance of any changes or revisions to the
                    Agreement. If you do not agree to the terms and conditions, please do not use
                    this website.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    The materials
                    contained on this website are provided by FreePractiseTests as a paid or free
                    service to you for your noncommercial, personal use on an 'as is, as available'
                    basis. They may be used by you for information purposes only. You acknowledge
                    that you are using the website at your own risk. FreePractiseTests assumes no
                    responsibility for errors or omissions in these materials. FreePractiseTests
                    makes no commitment to update the information contained herein.
                    FreePractiseTests makes no and expressly disclaims any and all representations
                    or warranties, explicit or implied, regarding the FreePractiseTests website.
                    This includes, without limitation, the accuracy, completeness, or reliability
                    of text, graphics, links, products, and services, as well other items accessed
                    from or via the website. Moreover, FreePractiseTests does not guarantee that the
                    website will be uninterrupted, error-free, or free of viruses or other harmful
                    components. No advice or information given by FreePractiseTests or any other
                    party on the website shall create any warranty or liability.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    FreePractiseTests
                    does not warrant or make any representations regarding the use or the results
                    of the use of the materials on the website in terms of their correctness,
                    accuracy, timeliness, reliability, etc. Under no circumstances shall
                    FreePractiseTests or any of its subsidiaries and affiliates—and their respective
                    partners, officers, directors, employees, or agents—be held liable for any
                    damages, whether direct, incidental, indirect, special, or consequential. This
                    includes, without limitation, lost revenues or lost profits arising from or in
                    connection with your use, reliance on, or performance of the information on the
                    website.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    FreePractiseTests
                    periodically schedules system downtime for maintenance and other purposes.
                    Unplanned outages may also occur. FreePractiseTests shall have no liability for
                    the resulting unavailability of the website or for any loss of data or
                    transactions caused by planned or unplanned system outages, as well as for any
                    outages of webhost providers or the internet infrastructure and network
                    external to the website.<o:p></o:p>
                </span>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    Please note that
                    using a consumer account for business purposes is prohibited. For business
                    accounts, please contact our customer service. <o:p></o:p>
                </span>
            </p><p>
            </p><p class="MsoNormal" style="text-align:justify">
                <span lang="EN-GB">
                    Each subscription
                    account is for individual use only, and is not to be shared among multiple
                    users. If the account content is accessed more times than an individual average
                    user then FreePractiseTests reserves the right to block the account from future
                    use.
                </span>
            </p><p class="MsoNormal" style="text-align:justify"><b>Governing Law and Jurisdiction</b></p><p class="MsoNormal" style="text-align:justify">All the actions, controversies, and disputes with respect to the User’s use of Services (referred individually as "Claim") and , come under the scope of terms in this Section.&nbsp;</p><p class="MsoNormal" style="text-align:justify">User expressly submits to the individual and exclusive jurisdiction and location of the courts in the&nbsp; State of New Delhi in the Republic of India, for any Claim.</p><p class="MsoNormal" style="text-align:justify"><span lang="EN-GB"></span></p><p class="MsoNormal" style="text-align:justify">User expressly agrees that any Claim would be governed and construed in accordance with the laws of the Republic of India.</p><p class="MsoNormal" style="text-align:justify"><span lang="EN-GB"><o:p></o:p></span></p>
        </div>
    </div>
</div>